<div ng-controller="dishSignupController">
  <form class="signupForm" name="signupForm" novalidate ng-submit="signupForm.$valid && signup(signupData.user)">
    <div class="list list-inset">
      <label class="item item-input">
        <input type="text" ng-model="signupData.user.username" placeholder="Full Name">
      </label>
      <label class="item item-input">
        <input type="text" ng-model="signupData.user.email" placeholder="Email">
      </label>
      <label class="item item-input">
        <input type="password" ng-model="signupData.user.password" placeholder="Password">
      </label>
    </div>
    <button class="button button-block form-button" type="submit">Signup</button>
    <div class="button button-full button-clear button-light" ng-click="toLogin()">
      Login
    </div>
  </form>
</div>