<ion-modal-view>
  <ion-content class="signup" scroll="false">
    <ion-slide-box class="loginSlider" show-pager="false" delegate-handle="loginSlider">
      <ion-slide class="signupSlide">
        <form class="signupForm" name="signupForm" novalidate ng-submit="signupForm.$valid && signup(signupData.user)">
          <div class="list list-inset">
            <label class="item item-input">
              <input type="text" ng-model="signupData.user.username" placeholder="Full Name">
            </label>
            <label class="item item-input">
              <input type="text" ng-model="signupData.user.email" placeholder="Email">
            </label>
            <label class="item item-input">
              <input type="password" ng-model="signupData.user.password" placeholder="Password">
            </label>
          </div>
          <div class="padding">
            <button class="button button-block button-light" type="submit">Signup</button>
            <div class="button button-full button-clear button-light" ng-click="toLogin()">
              Login
            </div>
          </div>
        </form>
      </ion-slide>
      <ion-slide class="loginSlide">
        <form novalidate class="loginForm" name="loginForm" ng-submit="loginForm.$valid && login(loginData.user)">
          <div class="list list-inset">
            <label class="item item-input">
              <input type="text" ng-model="loginData.user.email" placeholder="Email">
            </label>
            <label class="item item-input">
              <input type="password" ng-model="loginData.user.password" placeholder="Password">
            </label>
          </div>
          <div class="padding">
            <button class="button button-block button-light" type="submit">Log in</button>
            <div class="button button-full button-clear button-light" ng-click="toSignup()">
              Signup
            </div>
          </div>
        </form>
        <div class="button button-clear button-light forgotLink" ng-click="toForgot()">Forgot Password?</div>
      </ion-slide>
      <ion-slide class="forgotSlide">
        <form novalidate class="forgotForm" name="forgotForm" novalidate ng-submit="forgotForm.$valid && resetPassword(forgotData.user)">
          <div class="list list-inset">
            <label class="item item-input">
              <input type="text" ng-model="forgotData.user.email" placeholder="Enter Your Email">
            </label>
          </div>
          <div class="padding">
            <button class="button button-block button-light" type="submit">Recover Password</button>
            <div class="button button-full button-clear button-light" ng-click="toLogin()">
              Back to Login
            </div>
          </div>
        </form>
      </ion-slide>
    </ion-slide-box>
    <div class="logo"></div>
  </ion-content>
</ion-modal-view>