<div ng-controller="dishFoodController">
  <div class="nav-icon left cook-icon" ng-click="toCook()"></div>
	<div class="title">Eat</div>
  <div class="nav-icon right profile-icon" ng-click="toProfile()"></div>
	<ion-scroll class="cards" direction="x" scrollbar-x="false" paging="true" on-scroll="onScroll()">
    <div class="card-holder food" collection-repeat="food in foods" item-width="getCardWidth(food, $index)" item-height="getCardHeight(food, $index)">
      <div class="card">
      	<div class="card-image" style="background-image:url({{food.photo}});"></div>
        <dish-input ng-model="food.name" placeholder="Name" readonly="true"></dish-input>
        <dish-input ng-model="food.ingredients" placeholder="Ingredients" readonly="true"></dish-input>
        <dish-input class="half" ng-model="food.portions" placeholder="Portions" readonly="true"></dish-input>
        <dish-input class="half" ng-model="food.price" placeholder="Price" readonly="true"></dish-input>
        <dish-button text="Buy Meal"></dish-button>
      </div>
    </div>
  </ion-scroll>
</div>