<ion-scroll class="home" ng-controller="dishHomeController" paging="true" scrollbar-y="false">
  <div class="overlay top">
    <div class="overlay-title">Cook</div>
    <div class="food-card">
      <div class="food-image"></div>
      <dish-input ng-model="food.name" placeholder="Food Name"></dish-input>
      <dish-photo ng-model="food.photo"></dish-photo>
    </div>
  </div>
  <div class="overlay bottom" ng-click="home()">Hello {{currentUser.profile.username}}</div>
</ion-scroll>
<!--<ion-content class="home" ng-controller="HomeCtrl" paging="true" scrollbar-y="false">
	Food
</ion-content>-->
<!--<ng-include src="&apos;cook/cook.html&apos;"></ng-include>-->